<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  {{>links}}
  <title>Page Not Found</title>
</head>
<body>
    {{>header}}
    <img src="./images/404.jpg" alt="Page not Found" class="errorImg">
    <a href="/" class="main_header_left button_404" ><button>Go Back</button></a>
    
    {{>footer}}
</body>
</html>