<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    {{>links}}
    
</head>

<body>
    {{>header}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/me.jpg" alt="aditya" class="img-fluid" title="aditya_weather">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather App</p>
                        <h1>I am a <span class="text_color">MERN STACK</span> DEVELOPER</h1>
                        <a href="https://github.com/aditya-sharma00" target="_blank"><button>About Me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--Footer Code-->
    {{>footer}}


</body>

</html>